@use '../../app/styles/variables' as *;
@use '../../app/styles/mixins' as *;

.layout {
  display: flex;
  min-height: 100vh;
  background: $color-background;
}

.main {
  flex: 1;
  margin-left: 260px;
  padding: $spacing-8;

  @media (max-width: $breakpoint-md) {
    margin-left: 0;
    padding: $spacing-4;
  }
}

.unauthorized {
  @include flex-center;
  flex-direction: column;
  gap: $spacing-4;
  padding: $spacing-16;
  text-align: center;

  svg {
    width: 64px;
    height: 64px;
    color: $color-error;
    opacity: 0.5;
  }

  h1 {
    font-family: $font-family-display;
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
  }

  p {
    color: $color-text-secondary;
  }

  a {
    @include button-primary;
    margin-top: $spacing-4;
  }
}
